{% extends 'Backoffice/baseBackoffice.html.twig' %}

{% block title %}Edit Spot
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Modifier {{spot.name}}</h1>
		<button type="button" class="btn btn-warning">
			<a href="{{ path('app_backoffice_spot_index') }}">Retour à la liste</a>
		</button>

		{{ include('Backoffice/spot/_form.html.twig', {'button_label': 'Enregistrer'}) }}
 

		{{ include('Backoffice/spot/_delete_form.html.twig') }}
	{% endblock %}
