{% extends 'api/v1/baseBackoffice.html.twig' %}

{% block title %}Edit Spot
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Edit Spot</h1>

		{{ include('api/v1/spot/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_api_v1_spot_index') }}">back to list</a>

		{{ include('api/v1/spot/_delete_form.html.twig') }}
	{% endblock %}
