{% extends 'Backoffice/baseBackoffice.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Edit Category</h1>

		{{ include('Backoffice/category/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_backoffice_category_index') }}">back to list</a>

		{{ include('Backoffice/category/_delete_form.html.twig') }}
	{% endblock %}
