{% extends 'Backoffice/baseBackoffice.html.twig' %}
{% block title %}Edit Session
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Modifier {{session.title}}</h1>
		<button type="button" class="btn btn-warning">
			<a href="{{ path('app_backoffice_session_index') }}">Retour à la liste</a>
		</button>

		{{ include('Backoffice/session/_form.html.twig', {'button_label': 'Update'}) }}

		{{ include('Backoffice/session/_delete_form.html.twig') }}
	</div>
{% endblock %}
