{% extends 'api/v1/baseBackoffice.html.twig' %}

{% block title %}Edit Level
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Edit Level</h1>

		{{ include('api/v1/level/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_api_v1_level_index') }}">back to list</a>

		{{ include('api/v1/level/_delete_form.html.twig') }}
	{% endblock %}
