{% extends 'api/v1/baseBackoffice.html.twig' %}

{% block title %}New Level
{% endblock %}

{% block body %}

	<div class="main">
		<h1>Create new Level</h1>

		{{ include('api/v1/level/_form.html.twig') }}

		<a href="{{ path('app_api_v1_level_index') }}">back to list</a>
	{% endblock %}
